.footer {
    width: 100%;
    height: 20vh;
    background: #000;
    display: flex;
    padding: 100px;
    align-items: center;
    justify-content: space-between;


    img {
        width: 100px;
        height: auto;
        
    }

    .cds--link {
        color: white !important;
    }

    .cds--link:hover {
        color: blue !important;
    }

    .cds--breadcrumb-item::after {
        color: white !important;
    }

}